.content {
  padding-top: 10px;
  width: 100%;
  text-align: left;
}

.input {
  padding: 10px 0px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #3C3C3C;

  outline: none;
  border: none;
  border-bottom: 1px solid #C6C6C6;
  width: 100%;
}

.inputError {
  padding: 10px 0px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #3C3C3C;

  outline: none;
  border: none;
  border-bottom: 1px solid #EB5757;
  width: 100%;
}

.input::placeholder {

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #C6C6C6;

}

.label {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;

  color: #C6C6C6;

}

.labelError {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  color: #EB5757;

}