.capa {
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/svg/capa.svg');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10px;
  box-sizing: border-box;
}

.logo {
  height: 6%;
  width: 9%;
  position: absolute;
  left: 90%;
  background-image: url('../../assets/svg/logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.button {
  position: relative;
  top: 80%;
  float: right;
}