.header {
    min-width: 360px;
    max-width: 1000px;
    min-height: 740px;
    height: 100vh;
    background-color: #4BDE95;
    padding: 10px;
    box-sizing: border-box;
}

@media (max-width: 1000px) {
    .header {
        height: 240px;
        min-height: 240px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}